:root
{
    --main--color:#FF9800
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* option-box */

.setting-box .option-box
{
  padding: 30ox;
  background-color: rgb(88, 75, 61);
  text-align: center;
   
  margin: 20px;

}

.setting-box .option-box .yes,
.setting-box .option-box .no
{
   width: 50px;
   background-color:rgb(10, 49, 49);
   color: aliceblue;
   margin-top: 12px;
display: inline-block;
font-size: 12px;
padding: 4px 10px;
font-weight: bold;
border-radius: 4px;
opacity: .5;
cursor: pointer;
}
.setting-box .option-box span.active
{
    opacity: 1;
}

.setting-box .random-background .yes
{
    
}
.setting-box .random-background .no
{
  
}
.setting-box .option-box h4
{
    margin: 0;
    color: burlywood;
    font-size: 14px;
}

.setting-box .option-box .color-list
{
    list-style: none;
    text-align: center;
    padding: 0;
    margin:10px 0 0 ;
     position: relative;
     right: 10px;
}
.setting-box .option-box .color-list li
{
    width: 20px;
    height: 22px;
    background-color: rgb(197, 187, 187);
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    display: inline-block;
    
}

.setting-box .option-box .color-list li.active
{
     
    border-color: aliceblue;
     
}

.setting-box .option-box .color-list li:first-child
{
     
  background-color:#FF9800
     
}

.setting-box .option-box .color-list li:nth-child(2)
{
     
  background-color: darkcyan;
     
}
.setting-box .option-box .color-list li:nth-child(3)
{
     
    background-color: brown;
     
}
.setting-box .option-box .color-list li:nth-child(4)
{
     
    background-color: darkgoldenrod;
     
}
.setting-box .option-box .color-list li:nth-child(5)
{
     
    background-color: crimson;
     
}
/*setting box*/
 .setting-box
 {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: rgb(156 169 176 / 72%);
    width: 200px;
    z-index: 163;
    min-height: 100vh;
    transition: 1s;
 }
.setting-box.open
 {
left: 0;
 }
 .setting-box .toggel-setting
 {
    
    top: 100px;
    
    position: absolute;
    right: 0;
    text-align: center;
    background-color: azure;
    cursor: pointer;
    right: -30px;
 }

 .setting-box .toggel-setting li{
    width: 30px;
    padding: 8px 0;
 }
/* sart lanfing page */
.landing-page
{
    min-height: 100vh;
    background-image: url(../imges/card1.png);
    background-size: cover;
    position: relative;
}
.landing-page .overlay
{
    background-color: rgba(0, 0, 0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area
{
    position: relative;
    z-index: 2;
    color:white;
    display: flex;
    padding: 10px;
}
.header-area .logo
{
width: 300px;
padding: 15px;
font-weight: bold;

}
.header-area .links
{
    list-style: none;
width: 100%;
text-align: center;
text-align: right;
padding-right: 20px;
font-size: 15px;


}
.header-area .links li{
    display:inline-block;
   margin-left: 10px;
}
.itroduction-text
{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: white;
    text-align: center;
    width: 80;
}
.itroduction-text h1
{
    font-size: 34px;
    margin: 0 0 12px;
}
.itroduction-text p
{
    font-size: 20px;
    line-height: 1.6 ;
    margin: 0 ;
}
.itroduction-text h1 span
{
     color: var(--main--color);
}
.header-area .links  li a{
    color: white;
    text-decoration: none;
}

.header-area .links  li a:hover ,
.header-area .links  li a.active
{ 
    transition: .5s;
    color: var(--main--color);
}
/* end lanfing page */